:root {
    --main-color: #1CADFE;
    --accent-colr: #0F172A;
    --additional-color: #1E293B;
    --white: #fff;
    --gray: #999;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-colr);
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 0;
}

.logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.logo img {
    width: 100%;
    cursor: pointer;
}

.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 35px;
    list-style: none;
    transition: all 0.3s ease;
}

.nav-links .active {
    color: var(--accent-color);
}

.nav-links li a{
    transition: all 0.3s;
    cursor: pointer;
    color: var(--gray);
    text-decoration: none;
}

.nav-links li a:hover {
    color: var(--main-color);
}

.mobile-button {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1001;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.btn {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    color: aliceblue;
    background: linear-gradient(135deg,#24324A, #445b80);
    box-shadow: 2px 2px 10px #4186c7;
    cursor: pointer;
    transition: all .3s;
}

button:hover{
    transform: translateY(-10px);
    background: linear-gradient(135deg,#24324A, #5d7bac);
    box-shadow: 2px 2px 25px #4085c5;
}

/* hero section */
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.img1 {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 45px;
    z-index: 0;
    box-shadow: 2px 2px 25px var(--main-color);
}

.color {
    color: var(--main-color);
}

.text h2{
    color: var(--white);
    margin-bottom: 20px;
}

.text h1{
    color: var(--white);
    margin-bottom: 20px;
    font-size: 55px;
    width: 400px;
    line-height: 1.2;
}

.text p{
    color: var(--gray);
    margin-bottom: 30px;
    width: 450px;
}

.btns {
    display: flex;
    margin: 40px 0;
    gap: 40px;
}

/* specialized */
.special {
    width: 100%;
    margin-top: 40px;
}

.special h1 {
    text-align: center;
    color: var(--white);
    font-size: 40px;
    margin-bottom: 80px;
}

.cont { 
    width: 100%; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 30px; 
    justify-content: center; 
}

.each {
    position: relative;
    border-radius: 25px;
    padding: 60px 20px;
    background: linear-gradient(135deg, #0F172A, #1E40AF);
    transition: all .6s;
}

.each img {
    width: 100px;
}

.text1 h2{
    color: var(--white);
    margin-bottom: 20px;
    text-align: left;
}

.text1 p{
    color: var(--gray);
    margin-bottom: 30px;
    word-wrap: break-word;      
    overflow-wrap: break-word;  
    line-height: 1.5;
}

.each:nth-child(2) {
    background-color:  #0F172A;
    z-index: -1;
}

.each:nth-child(1).rotate {
    transform: rotate(-10deg) translateX(40px);
    z-index: -2;
}

.each:nth-child(3).rotate {
    background: linear-gradient(135deg, #0F172A, #1E40AF);
    transform: rotate(10deg) translateX(-40px);
    z-index: -2;
}

.each:nth-child(1){
    background: linear-gradient(135deg, #0F172A, #1E40AF);
    transform: rotate(0) translateX(0);
    z-index: -2;
}

.each:nth-child(3){
    background: linear-gradient(135deg, #0F172A, #1E40AF);
    transform: rotate(0) translateX(0);
    z-index: -2;
}

.more-info1 {
    position: relative;
    padding: 0 25px;
    margin-top: -70px;
    border-radius: 20px;
    background-image: linear-gradient(135deg, #121b31, #1E40AF);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.more-info1::before,
.more-info1::after {
    content: "";
    position: absolute;
    inset: 0;             
    border-radius: 20px;  
    padding: 3px;         
    box-sizing: border-box; 
    background: conic-gradient(from var(--angle), blue, var(--main-color), rgb(0, 200, 250), rgb(0, 17, 255));
    animation: spin 5s linear infinite;
    filter: blur(1.5rem);
    opacity: 0.7;
    z-index: -1;        
    pointer-events: none;
}


.more-info1::before {
    filter: blur(1.2rem);
    opacity: 0.7;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.cards { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
}

.card {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h2 {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 20px;
}

.card p {
    color: var(--gray);
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.card .button {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card:nth-child(2) {
    margin-top: 70px;
}

.card svg {
    width: 34px;
    height: 34px;
    stroke: var(--main-color); 
    margin-bottom: 20px;
}

/* Responsive for specialized section */
@media (max-width: 1024px) {
    .cont {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 25px;
    }
    .each {
        padding: 50px 20px;
    }
    .each img {
        width: 80px;
    }
    .each h2 {
        font-size: 20px;
    }
    .each p {
        font-size: 14px;
    }
    .more-info {
        margin-top: -80px;
        padding: 0 15px;
    }
    .cards {
        gap: 18px;
    }
}

@media (max-width: 768px) {
    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .each,
    .each.rotate {
        transform: none !important;
        width: 90%;
        padding: 40px 15px;
        z-index: 1;
    }
    .each img {
        width: 70px;
    }
    .each h2 {
        font-size: 18px;
        margin-top: 20px;
        text-align: left;
    }
    .each p,
    .card p {
        font-size: 14px;
        width: 100%;                
        margin-bottom: 10px;
    }
    .more-info {
        margin-top: 100px;
    }
    .cards {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
    }
}

@media (max-width: 480px) {
    .special h1 {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .each {
        padding: 30px 10px;
    }
    .each img {
        width: 60px;
    }
    .each h2 {
        font-size: 16px;
    }
    .each p {
        font-size: 13px;
    }
    .more-info {
        margin-top: 90px;
        padding: 0 10px;
    }
    .cards {
        gap: 15px;
    }
}

/* hero section responsiveness */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .text {
        margin-top: 5rem;
    }
    .text h1 {
        font-size: 35px;
        width: 300px;
    }
    .text p {
        width: 300px;
        font-size: 14px;
    }
    .btns {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero .img .img1 {
        height: 300px;
    }
    .cont {
        grid-template-columns: 1fr;
    }
}

/* Navigation responsiveness */
@media (max-width: 900px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        left: 50%;
        background: #121b3149;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(146, 142, 142, 0.205);
        opacity: 0;
        transform: translateY(-10px) translateX(-50%);
        pointer-events: none;
    }
    .nav-links.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: all 0.4s ease;
    }
    .nav-links li {
        color: var(--white);
    }
    .logo img {
        padding-left: 20px;
    }
    .menu-icon {
        display: flex;
    }
    .mobile-button {
        display: block;
    }
    .btn {
        display: none;
    }
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text h1 {
        text-align: center;
    }
}

/* about me */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 130px;
    margin-bottom: 50px;
}

.about .img video {
    width: 100%;
    height: 300px;
    border-radius: 45px;
    box-shadow: 3px 3px 20px #174966;
}

.txt {
    position: absolute;
    left: 30%;
    margin-top: -60px;
    background-color: var(--additional-color);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #625acc;
    animation: jump 3s linear infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    110% {
        transform: translateY(0);
    }
}

.info {
    margin-left: 40px;
}

.info h2{
    font-size: 20px;
    color: var(--white);
    margin-bottom: 20px;
}

.info h1{
    color: var(--white);
    margin-bottom: 20px;
    font-size: 40px;
    width: 400px;
    line-height: 1.2;
}

.info p{
    color: var(--gray);
    margin-bottom: 30px;
    width: 450px;
}

.btns {
    display: flex;
    margin: 40px 0;
    gap: 40px;
}

/* hero section responsiveness */

@media (min-width: 1400px) {
    .txt {
        left: 45%;
    }
}

@media (max-width: 1400px) {
    .txt {
        left: 40%;
    }
}

@media (max-width: 1024px) {
    .txt {
        left: 40%;
    }
    .about .img video {
        height: 250px;
    }
}

@media (max-width: 900px) {
    .about {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .about .img video {
        width: 100%;
        height: 230px;
    }
    .txt {
        left: 67%;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .info h1, p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .about .img video {
        width: 90%;
        height: 250px;
    }
    .txt {
        left: 67%;
    }
}

@media (max-width: 768px) {
    .about .img video{
        position: relative;
        left: 4%;
    }
    .txt {
        left: 73%;
    }
}

@media (max-width: 400px) {
    .about .img video{
        width: 100%;
        height: 140px;
        position: relative;
    }
    .txt {
        left: 70%;
        padding: 5px 7px;
    }
    .txt p {
        font-size: 16px;
    }
    .info {
        margin-left: 0px;
    }
    .info h1 {
        font-size: 30px;
        word-wrap: break-word;
        width: 200px;
    }
    .info p {
        word-wrap: break-word;
        width: 200px;
    }
}

/* project type text */

.project-type {
    display: grid;
    gap: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-type-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-type-text h1{
    text-align: center;
    color: var(--white);
    font-size: 40px;
    width: 300px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.project-type-text p{
    text-align: center;
    color: var(--gray);
    font-size: 16px;
    width: 450px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.project-type-cont { 
    width: 100%; 
    display: grid; 
    grid-template-columns: .9fr 1.2fr .9fr; 
    gap: 30px; 
    justify-content: center; 
}

.project-card {
    position: relative;
    border-radius: 25px;
    padding: 60px 20px;
    background: linear-gradient(135deg, #0F172A, #1E40AF);
    transition: all .5s;
}

.project-card:hover {
    box-shadow: 3px 3px 25px #355a9e;
}

.project-card:nth-child(2)::before {
    content: "";
    position: absolute;
    inset: 0;             
    border-radius: 20px;  
    padding: 3px;         
    box-sizing: border-box; 
    background: conic-gradient(from var(--angle), blue, var(--main-color), rgb(0, 200, 250), rgb(0, 17, 255));
    animation: spin 5s linear infinite;
    filter: blur(1.5rem);
    opacity: 0.7;
    z-index: -1;        
    pointer-events: none;
}


.more-info1::before {
    filter: blur(1.2rem);
    opacity: 0.7;
}

.project-card:nth-child(1), 
.project-card:nth-child(3) {
    scale: .9;
    box-shadow: 3px 3px 25px #355a9e;
}

.project-card h2 {
    color: var(--white);
    margin: 20px 0;
}

.project-card p {
    color: var(--gray);
}

/* testimony */

.testimony {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 40px 0;
}

.testimony-description {
    max-width: 1100px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: minmax(120px, auto);
    gap: 18px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.testimony-description h1 {
    color: var(--white);
    line-height: 1.2;
}

.testimony-description p {
    color: var(--gray);
    margin-bottom: 30px;
}
    
.div1 {
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
}

.div5 {
    grid-row: span 4 / span 4;
    height: 100%;
}

.ones {       
    padding: 10px 20px;
    width: 100%;
    background: #f8f8f80a;
    border-radius: 20px;
    transition: all .4s;
    overflow: hidden;
}

.ones:hover {
    background: #373c7a;
    box-shadow: 2px 2px 15px #373c7a;
}

.ones i {
    font-size: 90px;
    color: #1cabfe38;
    margin-top: 50px;
}

.ones p {
    color: var(--gray);
    margin-bottom: 30px;
}

.div5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.div5 i {
    font-size: 100px;
}

.profile {
    display: flex;
    gap: 20px;
}

.profile .img {
    width: 80px;
    height: 80px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    overflow: hidden;
    transition: all .2s;
}

.profile .img:hover {
    padding: 5px;
    border: 5px solid var(--main-color);
    box-shadow: 2px 2px 15px var(--main-color);
}

.profile .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile .user h2 {
    font-size: 25px;
    color: var(--white);
}

@media (max-width: 1024px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
  }
} 

@media (max-width: 768px) {
    .testimony-description {
        flex-direction: column;
    }
    .testimony-description p {
        margin-top: 20px;
        text-align: left;
    }
    .parent {
        grid-template-columns: 1fr 1fr;
    }
    .div5 {
        grid-column: span 2 / span 2;
        gap: 10px;
    }
    .div5 i {
        font-size: 90px;
    }
}

@media (max-width: 480px) {
  .parent {
    grid-template-columns: 1fr;
  }
}

/* footer */

footer {
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 40px;
    width: 100%;
    background: linear-gradient(135deg, #0F172A, #1E40AF);
}

.footer {
    max-width: 1200px;
    padding: 20px 25px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.footer .img {
    width: 80px;
    height: 80px;
}

.footer p {
    color: var(--gray);
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: var(--gray);
    transition: all .3s;
}

.footer a:hover {
    color: var(--main-color);
}

.footer h2 {
    color: var(--white);
    margin-top: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.socials {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.socials i {
    font-size: 30px;
    color: var(--white);
    transition: all .3s;
}

.socials i:hover {
    color: var(--main-color);
}

.footer-text {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    color: var(--gray);
}

.footer-text a {
    text-decoration: none;
    color: var(--gray);
    transition: all .3s;
}

.footer-text a:hover {
    color: var(--main-color);
}